/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
composer.lock
*.bak
/nbproject/private/
/nbproject
*.DS_store
composer.phar
.idea*
