{% extends '::base.html.twig' %}

{% block body -%}
<div id="banner" class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{ entity.name }}</h1>
        </div>
    </div>
</div>

<ul>
    <li><a href="{{ path('competition_show', { 'slug': entity.slug }) }}">Games</a></li>  
    <li><a href="{{ path('competition_stats', { 'slug': entity.slug }) }}">Stats</a></li>  
</ul>

{% block content %}{% endblock %}

{% if is_expr_granted("hasRole('ROLE_ADMIN')") %}
<ul class="record_actions">
    <li>
        <a href="{{ path('competition_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
</ul>
{% endif %}

{% endblock %}
