{% extends 'TotoTotalizerBundle:Competition:layout.html.twig' %}

{% block content -%}
<div class="page-header">

              <h2>Spėjimų instrukcija</h2>

<p>Prie komandos, kuri manai kad laimės, reikia įrašyti 1, 2 arba 3, priklausomai kokiu taškų skirtumu manai, kad ji laimės</p>
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th colspan="2">Spėjimai</th>
                      <th>-</th>
                      <th colspan="2">Įvertinimas</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        1
                      </td>
                      <td>
                        1-10 taškų skirtumas
                      </td>
                      <td>
                        
                      </td>
                      <td>
                        Atspėtas laimėtojas ir taškų intervalas
                      </td>
                      <td>
                        3 taškai
                      </td>
                    </tr>
                    <tr>
                      <td>
                        2
                      </td>
                      <td>
                        11-20 taškų skirtumas
                      </td>
                      <td>
                        
                      </td>
                      <td>
                        Atspėtas tik laimėtojas
                      </td>
                      <td>
                        1 taškas
                      </td>
                    </tr>
                    <tr>
                      <td>
                        3
                      </td>
                      <td>
                        virš 20 taškų skirtumas
                      </td>
                      <td>
                        
                      </td>
                      <td>
                        Neatspėtas nugalėtojas
                      </td>
                      <td>
                        0 taškų
                      </td>
                    </tr>
                  </tbody>
              </table>
              <p>* Spėti rungtynių rezultatą galima likus 30min iki varžybų</p>
            </div>

{{ render(controller('TotoTotalizerBundle:Bid:competitionBids', { 'competitionId': entity.id })) }}

{% endblock %}
