{% extends 'TotoTotalizerBundle:Competition:layout.html.twig' %}

{% block content -%}
<h2>Upcoming games</h2>
{{ render(controller('TotoTotalizerBundle:Bid:competitionBids', { 'competitionId': entity.id })) }}
{% endblock %}
