{% extends 'TotoTotalizerBundle:Competition:layout.html.twig' %}

{% block content -%}
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>User</th>
            <th>Total points</th>
        </tr>
    </thead>
    <tbody>
    {% for user in stats %}
        <tr>
            <td><a href="{{ path('competition_user_stats', { 'slug': entity.slug, 'userId': user.0.getUser().getId()  }) }}">{{ user.0.user }}</a></td>
            <td>{{ user.total }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
