{% extends '::base.html.twig' %}

{% block body -%}
<div id="banner" class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{ entity.name }}</h1>
            <p>Current statistics</p>
        </div>
    </div>
</div>
{% endblock %}
