<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Totalizatorius</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{asset('css/bootstrap.css')}}" media="screen">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
